body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.header-buttons {
    margin-bottom: 40px;
    margin-top: 100px;
}

.btn {
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.btn.red { background-color: #ff4d4d; }
.btn.orange { background-color: #ffa500; }
.btn.blue { background-color: #007bff; }
.btn.skyblue { background-color: #00bfff; }
.btn.green { background-color: #28a745; }
.btn.black { background-color: #333; }

.calendar-container {
    margin: 20px 0;
}

.nav-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#calendar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

.edit-buttons {
    margin-top: 10px;
}


/**/

.header-buttons {
    margin-bottom: 20px;
}

/* 버튼 스타일 */
.btn {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    display: inline-block;
}

.btn.red { background-color: #ff4d4d; }
.btn.orange { background-color: #ffa500; }
.btn.blue { background-color: #4da6ff; }
.btn.skyblue { background-color: #87ceeb; }
.btn.green { background-color: #4caf50; }
.btn.black { background-color: #333; }

.input-section {
    margin-bottom: 20px;
}

.input-group {
    margin: 20px;
}

.input-group label {
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}

input[type="number"] {
    padding: 5px;
    width: 100px;
    font-size: 16px;
}

.action-buttons {
    margin: 10px 0;
}

.personnel-table {
    width: 40%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
}

.personnel-table th, .personnel-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.header-buttons a{
    color: inherit; /* 부모 요소의 색상을 상속 */
    text-decoration: none; /* 밑줄 제거 */
}


/* 전체 기본 설정 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

input[type="month"],
input[type="date"],
input[type="time"]{
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    max-width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn:hover {
    opacity: 0.9;
}

.btn.blue {
    background-color: #007bff;
}

.btn.green {
    background-color: #28a745;
}

/* 스토리지 정보 */
#storageInfo {
    font-size: 1.0rem;
    color: #020202;
}

.table-container {
    margin-bottom: 100px;
}